@import "variables", "mixins";

@media (prefers-reduced-motion: no-preference) {
  .loading-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes loading-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #000;
}

.App {
  display: flex;
}

.active {
  color: #51bcda;
  opacity: 1;
}

.collapse {
  display: none;
}

button {
  border-radius: 20px;
  border: none;
  background: #51bcda;
  padding: 0.5rem 1rem;
}

button:hover {
  cursor: pointer;
  background: #0b9aff;
}

button:focus {
  background: #0b9aff;
  outline: none;
  border: none;
}

.landing {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255,255,255);
  background: linear-gradient(125deg, rgba(255,255,255,1) 40%, rgba(0,0,0,1) 100%);

  &-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30vh 0 0;

    img {
      width: 30vw;
      border-radius: 20px;
      box-shadow: 0 0 10px 0px black;
    }
  }

  // button {
  //   border-radius: 20px;
  //   border: none;
  //   background: #51bcda;
  //   padding: 0.5rem 1rem;
  // }

  // button:hover {
  //   cursor: pointer;
  //   background: #0b9aff;
  // }

  // button:focus {
  //   background: #0b9aff;
  //   outline: none;
  //   border: none;
  // }
}

.landing-nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 10px 2rem;
  background-color: white;
  z-index: 11;

  a {
    text-decoration: none;
    color: black;
  }

  &-auth {
    display: flex;
    justify-content: space-between;
    width: 13vw;
  }

  .login-btn:hover {
    cursor: pointer;
    color: #0b9aff;
  }

  p {
    font-size: 1.25rem;
    padding: 0;
    margin: 0;
  }
}



.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  color: #000;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  z-index: 10;

  &-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: 17vh auto 0;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 12px;
    width: 330px;

    /* The Close Button */
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
  }

  input {
    height: 1.5rem;
    margin: 1rem 0;
    border: 1px solid #000000;
    border-radius: 5px;
  }
}

.show {
  display: block;
}

.display {
  display: flex;
  flex-direction: column;
}

.sidenav {
  width: 300px;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.65);
  background: linear-gradient(#66615b,#000 80%);
  overflow: hidden;
  padding-top: 20px;
  color: white;
  text-align: center;

  &-wrapper {
    padding: 0 15px ;
    font-size: 1rem;
  }

  a {
    text-decoration: none;
    color: white;
  }

  img {
    width: 34px;
    height: 34px;
    padding: 5px;
    background: white;
    border-radius: 50%;
  }
    .logo {
      display: flex;
      align-items: center;
      margin: 0 15px;
      border-bottom: 1px solid white;
      padding-bottom: 15px;

      img {
        margin-right: 2rem;
      }
    }
}

.user {
  display: flex;
  align-items: center;;
  border-bottom: 1px solid white;
  position: relative;

  .photo {
    margin: 0 2.5rem 0 0;
  }

  .collapse {

    li {
      list-style-type: none;
      position: relative;
      font-size: 1rem;
      line-height: 30px;
      opacity: .7;
      margin: 2rem 0;
      z-index: 1;

      .user-options {
        display: flex;
        align-items: center;

        svg {
          font-size: 1.25rem;
          margin-right: 2rem;
        }
      }
    }
  }


  img {
    padding: 0;
    width: 40px;
    height: 40px;
  }

  &-info {
    padding: 1rem 0;
    font-size: 1.25rem;

    &-block {
      display: flex;
      align-items: center;
    }

    button {

      &.onClickBtn {
        width: 100%;
        height: 70px;
        background-color: transparent;
        color: transparent;
        box-shadow: none;
        position: absolute;
        border: none;
        top: 0;
        left: 0;
        z-index: 5;
      }

      &.onClickBtn:hover {
        cursor: pointer;
      }

      &.onClickBtn:focus {
        outline: none;
        border: none;
      }
    }

    .caret {
      float: right;
      position: absolute;
      right: 9px;
    }

  }
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;

  button {

    &.onClickBtn {
      width: 100%;
      height: 32px;
      background-color: transparent;
      color: transparent;
      box-shadow: none;
      position: absolute;
      border: none;
      left: 0;
      z-index: 5;
    }

    &.onClickBtn:hover {
      cursor: pointer;
    }

    &.onClickBtn:focus {
      outline: none;
      border: none;
    }
  }

  li {
    list-style-type: none;
    position: relative;
    font-size: 1rem;
    line-height: 30px;
    opacity: .7;
    margin: 2rem 0;
    z-index: 1;

    .list-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 10px;
      // color: white;
      text-decoration: none;
      transition: all 0.3s ease-in-out;

    }
    .collapse {
      .teams {
        &-info {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          svg {
            margin-right: 1.5rem;
            font-size: 1.25rem;
          }
        }
      }

      .icon {
        font-size: 1.5rem;
        z-index: 0;
      }
    }

    .list-info:hover {
      cursor: pointer;
    }
  }
}

.main-panel {
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  background-color: #f4f3ef;
  overflow: scroll;
}

.flex-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

// .float-right {
//   float: right;
//   width: calc(#{width} - 260px);
// }

.team-title {
  position: relative;
  padding: 1rem;
  margin: 1rem;
  background-color: white;
  border-radius: 12px;
  box-shadow: 1px 2px 11px -5px black;

  &-btn {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 10px;
    right: 10px;
    font-size: 1rem;
    width: 40px;

    svg:hover {
      cursor: pointer;
    }
  }
}

.team-projects {
  display: flex;
  flex-direction: column;
  // width: 780px;
  width: 80%;
  margin: 1rem;
  background-color: white;
  border-radius: 12px;
  box-shadow: 1px 2px 11px -5px black;
  position: absolute;

}

table, th, td {
  border-bottom: 1px solid black;
}

table {
  text-align: center;
  margin: 1rem;
  border-collapse: collapse;
}

td {
  height: 2rem;
}

.my-tasks {
  // width: 90%;
  padding: 1rem;
  background-color: white;
  border-radius: 12px;
  box-shadow: 1px 2px 11px -5px black;

  &-table {
    width: -webkit-fill-available;

    .table-head {
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        margin-right: 0.5rem;
      }
    }

    .table-head:hover {
      cursor: pointer;
    }
  }
}


// user profile
.profile-card {
  display: flex;
  align-items: center;
  position: relative;
  width: 480px;
  margin: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 2px 11px -5px black;

  img {
    width: 125px;
    height: 125px;
  }

  &-info {

    .user-info{
      p {
        font-size: 1rem;
      }
    }
  }

  .edit-profile {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    display: flex;
    justify-content: space-around;

    svg:hover {
      cursor: pointer;
    }
  }

}

.user-stats {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem;
  padding: 1rem;
  width: 330px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 2px 11px -5px black;

  div {
    text-align: center;
    margin: 0 1rem;
  }
}

.members {
  width: 330px;
  margin: 1rem;  
}

.member-card {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  // width: 330px;
  width: auto;
  margin: 1rem;
  align-items: center;
  padding: 0.5rem 1rem;
  background: white;
  border-radius: 20px;
  box-shadow: 1px 2px 11px -5px black;
  
  &-header {
    width: 100%;
    font-size: 1.25rem;
    
    h5 {
      margin: 0.5rem;
    }
  }

  &-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    div {
      display: flex;
      align-items: center;
      width: 100%;
    }
  }

  img {
    $size: 35px;
    width: $size;
    height: $size;
    margin-right: 1rem;
  }
}

.task-board {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.25rem 3rem;
  margin: 2rem 1rem;
  border-radius: 12px;
  // box-shadow: 1px 2px 11px -5px black;


  &-header {
    font-size: 1.25rem;
    padding: 0.25rem 1rem;
    border-radius: 12px;
    background-color: white;
    box-shadow: 1px 2px 11px -5px black;

  }

  &-body {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem 0;
    width: 100%;

    .col {
      display: flex;
      flex-direction: column;
      width: 330px;
      padding: 1rem;
      border-radius: 12px;
      background-color: rgb(185, 185, 185);
      box-shadow: 1px 2px 11px -5px black;

      &-header {
        text-align: center;
        text-decoration: underline;
        background-color: white;
        border-radius: 12px;
        box-shadow: 1px 2px 11px -5px black;

        h5 {
          font-weight: 1000;
        }
      }

      &-body {
        padding: 1rem 0;
        border-radius: 12px;

        .task-card {
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          margin: 0.5rem 0;
          padding: 1rem;
          border-radius: 12px;
          background-color: white;
          box-shadow: 1px 2px 11px -5px black;

          > button {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: transparent;
            border: none;
            border-radius: 12px;
          }

          button:hover {
            cursor: pointer;
            box-shadow: 1px 2px 15px -5px black;
          }
        }
      }
    }
  }
}

.checklist {
  li {
    list-style: none;
    display: flex;
    align-items: center;
    height: 2rem;

    input {
      margin: 0.5rem;
      width: 16px;
    }
  }
}

.new-project:hover {
  cursor: pointer;
  background: #e4e4e4;
  box-shadow: 1px 5px 5px -5px black;
}

.delete-account {
  position: relative;

  &-cancel {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  &-cancel:hover {
    cursor: pointer;
  }

  button {
    background: #e60e0e;
    color: white;
    font-size: 1.25rem;
    border-radius: 20px;
    border: none;
    padding: 0.5rem 0;
  }

  button:hover {
    cursor: pointer;
    background: red;
  }

  button:focus {
    outline: none;
    border: none;
  }  
}

.delete-btn {
  z-index: 3;
}

.delete-btn:hover {
  cursor: pointer;
}

.member-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  button {
    margin-left: 1rem;
  }
}

.current-nav + div {
    color: #0b9aff;
}

.good {
  background-color: rgba(0, 128, 0, 0.4);
}

.due {
  background-color: rgba(128, 126, 0, 0.4);
}

.late {
  background-color: rgba(128, 0, 0, 0.4);
}

@media only screen and (max-width: 600px) {
  .sidenav {
    width: 100px;
  }
}