@import "variables", "mixins";

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

body {
  font-family: 'Montserrat', sans-serif;
  color: #000;
}

.active {
  color: #51bcda;
  opacity: 1;
}

.collapse {
  display: none;
}



.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  color: #000;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  &-content {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    margin: 230px auto 0;
    padding: 20px;
    border: 1px solid #888;
    width: 330px;

    /* The Close Button */
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
  }

  input {
    height: 1.5rem;
    margin: 1rem 0;
    border: 1px solid #000000;
    border-radius: 5px;
  }
}

.show {
  display: block;
}

.display {
  display: flex;
  flex-direction: column;
}

.sidenav {
  width: 260px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  background: linear-gradient(#66615b,#000 80%);
  overflow: hidden;
  padding-top: 20px;
  color: white;
  text-align: center;

  &-wrapper {
    padding: 0 15px ;
    font-size: 1rem;
  }

  a {
    text-decoration: none;
    color: white;
  }

  img {
    width: 34px;
    height: 34px;
    padding: 5px;
    background: white;
    border-radius: 50%;
  }
    .logo {
      display: flex;
      align-items: center;
      margin: 0 15px;
      border-bottom: 1px solid white;
      padding-bottom: 15px;

      img {
        margin-right: 2rem;
      }
    }
}

.user {
  display: flex;
  align-items: center;;
  border-bottom: 1px solid white;
  position: relative;
  margin: 1rem 0 0;
  padding-bottom: 1rem;

  .photo {
    margin: 0 2.5rem 0 0;
  }

  .collapse {

    li {
      list-style-type: none;
      position: relative;
      font-size: 1rem;
      line-height: 30px;
      opacity: .7;
      margin: 2rem 0;
      z-index: 1;

      .user-options {
        display: flex;
        align-items: center;

        svg {
          font-size: 1.25rem;
          margin-right: 2rem;
        }
      }
    }
  }


  img {
    padding: 0;
    width: 40px;
    height: 40px;
  }

  &-info {
    padding: 1rem 0;
    font-size: 1.25rem;

    &-block {
      display: flex;
      align-items: center;
    }

    button {

      &.onClickBtn {
        width: 100%;
        height: 70px;
        background-color: transparent;
        color: transparent;
        box-shadow: none;
        position: absolute;
        border: none;
        top: 0;
        left: 0;
        z-index: 5;
      }

      &.onClickBtn:hover {
        cursor: pointer;
      }

      &.onClickBtn:focus {
        outline: none;
        border: none;
      }
    }

    .caret {
      float: right;
      position: absolute;
      right: 9px;
      // top: 50%;
      // transform: translateY(-37%);
    }

  }
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;

  button {

    &.onClickBtn {
      width: 100%;
      height: 32px;
      background-color: transparent;
      color: transparent;
      box-shadow: none;
      position: absolute;
      border: none;
      left: 0;
      z-index: 5;
    }

    &.onClickBtn:hover {
      cursor: pointer;
    }

    &.onClickBtn:focus {
      outline: none;
      border: none;
    }
  }

  li {
    list-style-type: none;
    position: relative;
    font-size: 1rem;
    line-height: 30px;
    opacity: .7;
    margin: 2rem 0;
    z-index: 1;

    .list-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 10px;
      color: white;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      // z-index: 5;

    }
    .collapse {
      .teams {
        &-info {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          svg {
            margin-right: 1.5rem;
            font-size: 1.25rem;
          }
        }
      }

      .icon {
        font-size: 1.5rem;
        z-index: 0;
      }
    }

    .list-info:hover {
      cursor: pointer;
    }
  }
}

.main-panel {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: calc(100% - 260px);
}

// need to rethink the main-panel width
.general-padding {
  // padding: 1rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.float-right {
  float: right;
  width: calc(#{width} - 260px);
}


.team-projects {
  display: flex;
  flex-direction: column;
  width: 80%;
  border: 1px solid black;
  box-shadow: 1px 2px 11px -5px black;
  position: absolute;
  margin: 2rem;

}

table, th, td {
  border-bottom: 1px solid black;
}

table {
  text-align: center;
  margin: 1rem;
  border-collapse: collapse;
}

td {
  height: 2rem;
}