@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-panel {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: calc(100% - 260px);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.float-right {
  float: right;
  width: 100% - 260px;
}
