@import "variables";

@mixin center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;    
}